/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: none;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  touch-action: none;
}
.pswp img {
  max-width: none;
  font-family: "object-fit:contain";
  object-fit: contain;
}

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  will-change: opacity;
}

.pswp--open {
  display: block;
}

.pswp__img {
  transform: translate3d(0, 0, 0);
}

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  opacity: 0;
  will-change: opacity;
}

.pswp__scroll-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pswp__container,
.pswp__zoom-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  touch-action: none;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  transform-origin: left top;
  /* for open/close transition */
  transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__bg {
  /* for open/close transition */
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  will-change: opacity;
}

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  transition: none;
}

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden;
}

.pswp__item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.pswp__img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden;
}

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: #313439;
}

.pswp--ie .pswp__img {
  top: 0;
  left: 0;
  width: 100% !important;
  height: auto !important;
}

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -8px;
  color: #888;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
}

.pswp__error-msg a {
  color: #888;
}

.pswp__button {
  position: relative;
  display: block;
  float: right;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: none;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
}

.pswp__button:active {
  outline: none;
}
.pswp__button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pswp__button:before {
  display: none;
}

.pswp__button svg {
  pointer-events: none;
}
.pswp__button svg * {
  transition: all 0.2s;
}

.pswp__button:hover,
.pswp__button:focus {
  color: var(--ci-color);
}

.pswp__button.focus-visible {
  outline: 2px dotted var(--color-blue);
}

.pswp__button--arrow--left svg,
.pswp__button--arrow--right svg {
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 767px) {
  .pswp__button--arrow--left svg,
.pswp__button--arrow--right svg {
    width: 20px;
    height: 20px;
  }
}
.pswp__button--arrow--left svg path,
.pswp__button--arrow--right svg path {
  fill: var(--color-blue);
}

.pswp__button--close svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.pswp__button--zoom {
  display: none;
}

.pswp__button--zoom {
  margin-right: 25px;
}

.pswp__button--zoom svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

.zoom--minus {
  display: none;
}

.pswp--zoomed-in .pswp__button--zoom .zoom--minus {
  display: block;
}

.pswp--zoomed-in .pswp__button--zoom .zoom--plus {
  display: none;
}

/*
	Arrow buttons hit area
	(icon is added to :before pseudo-element)
*/
.pswp__button--arrow--left,
.pswp__button--arrow--right {
  position: absolute;
  top: 50%;
  width: 65px;
  height: 65px;
  background: rgba(255, 255, 255, 0.7);
  transform: translateY(-50%);
}
@media screen and (max-width: 1199px) {
  .pswp__button--arrow--left,
.pswp__button--arrow--right {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .pswp__button--arrow--left,
.pswp__button--arrow--right {
    width: 40px;
    height: 40px;
    padding: 10px;
    transform: translateY(-80%);
  }
}

.pswp__button--arrow--left {
  left: 40px;
}
@media screen and (max-width: 767px) {
  .pswp__button--arrow--left {
    left: 0;
  }
}

.pswp__button--arrow--right {
  right: 40px;
}
@media screen and (max-width: 767px) {
  .pswp__button--arrow--right {
    right: 0;
  }
}
/*

	2. Index indicator ("1 of X" counter)

 */
.pswp__counter {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  padding: 40px;
  color: var(--color-blue);
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 767px) {
  .pswp__counter {
    padding: 20px;
  }
}

/*

	3. Caption

 */
.pswp__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 44px;
}
.pswp__caption small {
  color: #bbb;
  font-size: 11px;
}

.pswp__caption__center {
  max-width: calc(100% - 50px);
  padding: 15px 0 30px 40px;
  color: var(--color-blue);
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}
@media screen and (max-width: 1199px) {
  .pswp__caption__center {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (max-width: 767px) {
  .pswp__caption__center {
    padding-left: 10px;
    font-size: 15px;
    line-height: 20px;
  }
}

.pswp__caption--empty {
  display: none;
}

.pswp__caption .copyright {
  display: block;
}

.pswp__caption .copyright a {
  padding-bottom: 0.042em;
  background-image: linear-gradient(180deg, transparent 92%, currentColor 0);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: inherit;
}
.pswp__caption .copyright a:hover, .pswp__caption .copyright a.focus-visible {
  animation: bounceAnimation 0.7s ease forwards;
}
@keyframes bounceAnimation {
  1% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 100% 92%;
  }
  100% {
    background-size: 100% 100%;
  }
}

/* Fake caption element, used to calculate height of next/prev image */
.pswp__caption--fake {
  visibility: hidden;
}

.pswp_imagetitle_text {
  float: left;
  width: 100%;
}
.pswp_imagetitle_text p {
  position: relative;
  width: 100%;
  padding: 40px;
  color: var(--color-blue);
  font-size: 18px;
}
@media screen and (max-width: 1199px) {
  .pswp_imagetitle_text p {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}
@media screen and (max-width: 767px) {
  .pswp_imagetitle_text p {
    padding: 20px;
    font-size: 15px;
  }
}

/*

	4. Loading indicator (preloader)

	You can play with it here - http://codepen.io/dimsemenov/pen/yyBWoR

 */
.pswp__preloader {
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  width: 44px;
  height: 44px;
  margin-left: -22px;
  direction: ltr;
  opacity: 0;
  transition: opacity 0.25s ease-out;
  will-change: opacity;
}

.pswp__preloader__icn {
  width: 20px;
  height: 20px;
  margin: 12px;
}

.pswp__preloader--active {
  opacity: 1;
}

.pswp--css_animation .pswp__preloader--active {
  opacity: 1;
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
  animation: clockwise 500ms linear infinite;
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
  animation: donut-rotate 1000ms cubic-bezier(0.4, 0, 0.22, 1) infinite;
}
.pswp--css_animation .pswp__preloader__icn {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 14px;
  height: 14px;
  margin: 0;
  background: none;
  opacity: 0.75;
}
.pswp--css_animation .pswp__preloader__cut {
  /*
  	The idea of animating inner circle is based on Polymer ("material") loading indicator
  	 by Keanu Lee https://blog.keanulee.com/2014/10/20/the-tale-of-three-spinners.html
  */
  position: relative;
  width: 7px;
  height: 14px;
  overflow: hidden;
}
.pswp--css_animation .pswp__preloader__donut {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  margin: 0;
  background: none;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .pswp__preloader {
    position: relative;
    top: auto;
    left: auto;
    float: right;
    margin: 0;
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes donut-rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-140deg);
  }
  100% {
    transform: rotate(0);
  }
}
/*

	5. Additional styles

 */
/* root element of UI */
.pswp__ui {
  z-index: 61;
  visibility: visible;
  opacity: 1;
  -webkit-font-smoothing: auto;
}

.pswp__top-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  min-height: 40px;
  padding: 40px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .pswp__top-bar {
    padding: 20px;
  }
}

.pswp__caption,
.pswp__top-bar,
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  -webkit-backface-visibility: hidden;
  transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
  will-change: opacity;
}

/* pswp--has_mouse class is added only when two subsequent mousemove events occur */
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
  visibility: visible;
}

.pswp__caption {
  background-color: rgba(255, 255, 255, 0.5);
}

/* pswp__ui--fit class is added when main image "fits" between top bar and bottom bar (caption) */
.pswp__ui--fit .pswp__caption {
  background-color: rgba(255, 255, 255, 0.5);
}

/* pswp__ui--idle class is added when mouse isn't moving for several seconds (JS option timeToIdle) */
.pswp__ui--idle .pswp__top-bar {
  opacity: 0;
}
.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
  opacity: 0;
}

/*
	pswp__ui--hidden class is added when controls are hidden
	e.g. when user taps to toggle visibility of controls
*/
.pswp__ui--hidden .pswp__top-bar,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right {
  /* Force paint & create composition layer for controls. */
  opacity: 0.001;
}

/* pswp__ui--one-slide class is added when there is just one item in gallery */
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
  display: none;
}

.pswp__element--disabled {
  display: none !important;
}

.pswp--minimal--dark .pswp__top-bar {
  background: none;
}